<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <title>Document</title>

<style>
    .item1{ grid-area : header;
    display: flex;}
    .item2 { grid-area: menu; }
    .item3 { grid-area: main; }
    .item4 { grid-area: right;}
    .item5 { grid-area: footer;}

    .grid-container{
        display: grid;
        grid-template-areas: 
          'header header header'
          'menu main right '
          'menu footer footer';
          gap: 10px;
          width: 50rem;
          margin-left:20rem;
          background-color: #00d1b2;
          margin-top:20px;
          padding: 10px;  
        }
        .grid-container > div{
            background-color: #f5f5f5;
            padding: 20px 20px;
            font-size: 20px;
            color:#00d1b2;
            grid-auto-columns: 50px;
            grid-auto-rows: 50px;
            }
        .item1 h1{
            font-size: 50px;
            font-family: 'Times New Roman', Times, serif, Helvetica;
            text-align: center;
        }
</style>
</head>
<body>
     <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
                <a style="margin-left: 45rem;" href="{% url 'index' %}">
                <button style=" margin-top: -50px;" class="button is-info" value="Go Back">
                Go Back
                </button>
                </a>

            </div>
        </div>
    </section>

   

    {% for city_details in weather_data %}

    <div class="grid-container">
        <div class="item1" style="text-align:center;"><h1>{{ city_details.city }}</h1>
        </div>
        <div class="item2">
            <figure class="image is-50x50">
                <img src="http://openweathermap.org/img/w/{{city_details.icon}}.png" alt="Image">
            </figure>
            <b style="font-size:35px;">{{city_details.temprature}} C</b>
        </div>
        <div class="item3">
            <tab> Real feel;</tab> <b>{{ city_details.feels_like }} C</b>
            <br>
            <b>{{ city_details.description }}</b>
        </div>
        <div class="item4">
            <tab>Minimum Temprature:</tab><b>{{ city_details.temp_min }}C</b>
            <tab>Maximum Temprature:</tab><b>{{ city_details.temp_max }}C</b>
        </div>
        <div class="item5">
            <tab>Visibility: </tab><b>{{ city_details.visibility}}</b><br>
            <tab>Wind Speed: </tab><b> {{ city_details.wind_speed }}</b><br>
            <tab>Humidity: </tab><b> {{ city_details.humidity}}</b>

        </div>
    </div>


    {% endfor %}

</body>

</html>